.main-footer{
    background-color: $blue;
    padding: 20px;

    p{
        text-align:center;
        line-height:1.5;
        color: $darkblue;
    }
}

.footer_nav{
    width: 450px;
    margin-left: auto;
    margin-bottom: 10px;
    a{
        color: $darkgreen;
        text-decoration: none;
        font-weight: bold;
        margin-right: 10px;
        img{height: 40px;}
    }
    a:last-child{margin-right: 0;}
    @include m(){
        display: flex;
    }
    
}
        
        
.footer_text{
    display: flex;
}
